@model IEnumerable<Domain.Entidade.Post>

@{
    ViewData["Title"] = "Pots";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="page-content">


    <h1>Posts</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="d-none">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagemUrlPost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="d-none">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        <img src="https://paquetahomologstorage.blob.core.windows.net/imagens/@item.ImagemUrlPost"  width="320px" height="320px"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                        @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
                        @Html.ActionLink("Deletar", "Excluir", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>