@model IEnumerable<Domain.Entidade.Pessoa>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="page-content">
    <h1>Amigos</h1>
    <table class="table">
        <thead>
            <tr>
                <th class="d-none">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sobrenome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th class="d-none">
                    @Html.DisplayNameFor(model => model.Senha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagemUrlPessoa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{if (@Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="d-none">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sobrenome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataNascimento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td class="d-none">
                                @Html.DisplayFor(modelItem => item.Senha)
                            </td>
                            <td>
                                <img src="https://paquetahomologstorage.blob.core.windows.net/imagens/@item.ImagemUrlPessoa" width="320px" height="320px" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                            </td>
                            <td>
                                <a asp-controller="Amigos" asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                                |
                                <a asp-controller="Amigos" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</main>
